.job-list{
    display: grid;
    gap: 50px;
}
.search-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.search-btn{
    background: #015BEA !important;
    border-radius: 20px !important;
    color:white !important;
    font-weight: 500 !important;
    line-height: 0px !important;
    font-size: 16px !important;
    text-decoration: none !important;
    padding: 20px 40px !important;
}
.search-btn:hover{
    background: rgba(1, 91, 234, 0.63) !important;
}
.card{
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    padding: 10px 30px;
}
.card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgba(1, 91, 234, 0.63);
}
.card-head{
    display: flex;
    justify-content: space-between;
    color:#00316D !important;
}
.card-head > h3{
    color:rgba(0, 0, 0, 0.5) !important;
}
.description {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}
.description > strong{
    color: #038B00 !important;
}

